.search-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .search-bar input {
    flex: 1;
    padding: 10px 15px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s ease-in-out;
  }
  
  .search-bar input:focus {
    border-color: #007bff; /* Couleur d'accentuation lors du focus */
    box-shadow: 0px 0px 3px rgba(0, 123, 255, 0.5);
  }
  
  .search-bar button {
    margin-left: 10px;
    padding: 10px 20px;
    background-color: gray; /* Bleu principal pour s'intégrer au dashboard */
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .search-bar button:hover {
    background-color: darkgrey /* Bleu plus foncé au hover */
  }